* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: Open Sans;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-weight: 100;
  font-size: 0.9rem;
}

a {
  color: #2893ad;
}

ul {
  list-style-type: none;
}

p {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 100;
  padding: 1rem 0;
}

.wrapper {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  opacity: .9;
}

.navbar h1 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.hero {
  background-color: #f5f5f5;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.hero .heroinfo h2 {
  color: #2893ad;
  font-size: 1.6rem;
}

.hero .heroinfo .herop {
  font-size: 0.9rem;
  font-weight: 100;
}

.hero .heroinfo .contact img {
  width: 28px;
}

.tech-section {
  background-color: #1d2523;
}

.tech-section .logos img {
  opacity: .8;
  max-width: 200px;
}

.technologies li {
  border: 2px solid #2893ad;
  border-radius: 10px;
  color: #2893ad;
  font-size: 0.8rem;
}

.more-projects {
  background-color: #f5f5f5;
}

.more-projects .project .img-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.more-projects .project .img-container img {
  border-radius: 50%;
  width: 100%;
}

.about {
  background-image: linear-gradient(rgba(18, 41, 77, 0.603), rgba(131, 55, 20, 0.616)), url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about h1, .about p {
  color: #fff;
}

.photo-container {
  width: 120px;
}

.photo-container img {
  border-radius: 10px;
  width: 100%;
  filter: grayscale(100%);
}

.right-info h1 {
  font-size: 1.5rem;
  color: #2893ad;
}

.right-info p {
  font-size: 0.8rem;
}

.right-info .contact img {
  width: 28px;
}

.copyright p {
  font-size: 0.7rem;
}
